/* 15 */
.btn-15 {
    width: 130px;
    height: 30px;
    color: #c8c8c8;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 1px 2px 0px rgba(177, 177, 177, 0.5),
     7px 7px 20px 0px #1e1e1f65,
     4px 4px 5px 0px #19191a50;
    outline: none;
  }

.btn-15 {
    background:transparent;
    color: #bcbcbc;
    border: none;
    z-index: 1;
    width: 100%;
    height: 40px;
    margin: 10px;
    font-size: small;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color:rgb(188, 188, 188);
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(66, 66, 66, 0.408),
     3px 3px 10px 0px rgba(0,0,0,.1),
     2px 2px 3px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }
  .btn-15:hover {
    text-decoration: none;
}
  
  