/* 注册的输入 */
.login .group input[type=text],
.login .group input[type=password] {
    width: 72%;
    border: none;
    color: #aaabb0;
    padding: 14px 10px 14px 45px;
    margin-top: 20px;
    background: #33374a;
    z-index: 2;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
}

.login .group input[type=text]:focus+label::before,
.login .group input[type=password]:focus+label::before {
    width: 100%;
}

.register .group input[type=text],
.register .group input[type=password] {
    width: 78%;
    border: none;
    color: #ffffff;
    padding: 14px 10px 14px 45px;
    margin-top: 20px;
    background: #f47471;
    z-index: 2;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
}

.register .group input[type=text]::-moz-placeholder,
.register .group input[type=password]::-moz-placeholder {
    color: #ffffff;
}

.register .group input[type=text]:-ms-input-placeholder,
.register .group input[type=password]:-ms-input-placeholder {
    color: #ffffff;
}

.register .group input[type=text]::placeholder,
.register .group input[type=password]::placeholder {
    color: #ffffff;
}

.register .group input[type=text]:focus+label::before,
.register .group input[type=password]:focus+label::before {
    width: 100%;
}

.log_reg_panel .register input[type=submit],
.log_reg_panel .login input[type=submit] {
    align-self: flex-start;
    margin-top: 20px;
    padding: 10px 0;
    width: 50%;
    background: transparent;
    border-radius: 0 50px 50px 0;
    border-left: none !important;
    letter-spacing: 1px;
    cursor: pointer;
}

@-webkit-keyframes loginOpen {
    0% {
        transform: translateX(140px);
    }

    50% {
        transform: translateX(-145px);
    }

    100% {
        transform: translateX(140px);
        z-index: -1;
    }
}

@keyframes loginOpen {
    0% {
        transform: translateX(140px);
    }

    50% {
        transform: translateX(-145px);
    }

    100% {
        transform: translateX(140px);
        z-index: -1;
    }
}

@-webkit-keyframes registerOpen {
    0% {
        transform: translateX(-140px);
    }

    50% {
        transform: translateX(145px);
    }

    100% {
        transform: translateX(-140px);
    }
}

@keyframes registerOpen {
    0% {
        transform: translateX(-140px);
    }

    50% {
        transform: translateX(145px);
    }

    100% {
        transform: translateX(-140px);
    }
}

@-webkit-keyframes loginClose {
    0% {
        transform: translateX(140px);
        z-index: -1;
    }

    50% {
        transform: translateX(-145px);
    }

    100% {
        transform: translateX(140px);
        z-index: 1;
    }
}

@keyframes loginClose {
    0% {
        transform: translateX(140px);
        z-index: -1;
    }

    50% {
        transform: translateX(-145px);
    }

    100% {
        transform: translateX(140px);
        z-index: 1;
    }
}

@-webkit-keyframes registerClose {
    0% {
        transform: translateX(-140px);
    }

    50% {
        transform: translateX(145px);
    }

    100% {
        transform: translateX(-140px);
    }
}

@keyframes registerClose {
    0% {
        transform: translateX(-140px);
    }

    50% {
        transform: translateX(145px);
    }

    100% {
        transform: translateX(-140px);
    }
}

/* 去除input激活的默认外边框 */
input {
    outline: none;
}



.log_reg_panel {
    color: #aaabb0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 登陆框 */
/* 宽高 */
.log_reg_panel .login {
    width: 200px;
    height: 280px;
    background: #292c3b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(140px);
    position: relative;
    z-index: 1;
    transition: filter 0.5s;
}

.log_reg_panel .login input[type=submit] {
    border: #f25d59 solid 1px;
    color: #f25d59;
}

.log_reg_panel .register {
    transform: translateX(-140px);
    position: relative;
}

.log_reg_panel .register .button-open,
.log_reg_panel .register .button-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: transform 0.4s;
    z-index: 9;
}

.log_reg_panel .register .button-open::before,
.log_reg_panel .register .button-close::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #ffffff;
    left: 10px;
}

.log_reg_panel .register .button-open::after,
.log_reg_panel .register .button-close::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #ffffff;
    left: 10px;
    transform: rotate(90deg);
}

.log_reg_panel .register .inner {
    filter: blur(5px);
    background: #f25d59;
    box-shadow: 5px 14px 20px 0 #f68b88;
    width: 250px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: filter 0.5s;
}

.log_reg_panel .register input[type=submit] {
    border: #ffffff solid 1px;
    color: #ffffff;
}

.register h1 {
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 0;
    color: #ffffff;
}

.register .group {
    width: 100%;
    position: relative;
}

.register .group i {
    color: #ffffff;
    position: absolute;
    top: 36px;
    left: 15px;
    z-index: 3;
    font-size: 13px;
    opacity: 0.8;
}

.register .group label {
    display: block;
    position: absolute;
    width: 100%;
    height: 45px;
    z-index: 1;
    background: #f69492;
    top: 19px;
}

.register .group label::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: #f04641;
    transition: width 0.5s;
}

.login h1 {
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 0;
}

.login .group {
    position: relative;
    width: 100%;
}

.login .group i {
    color: #f25d59;
    position: absolute;
    top: 36px;
    left: 15px;
    z-index: 3;
    font-size: 13px;
    opacity: 0.8;
}

.login .group label {
    display: block;
    position: absolute;
    width: 100%;
    height: 45px;
    z-index: 1;
    background: #42475f;
    top: 19px;
}

.login .group label::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: #f25d59;
    transition: width 0.5s;
}

.button-close {
    visibility: hidden;
}

input[id=switch-open]:checked~.login {
    filter: blur(5px);
    -webkit-animation: loginOpen forwards 0.8s;
    animation: loginOpen forwards 0.8s;
}

input[id=switch-open]:checked~.register {
    -webkit-animation: registerOpen forwards 0.8s;
    animation: registerOpen forwards 0.8s;
}

input[id=switch-open]:checked~.register>.inner {
    filter: blur(0);
}

input[id=switch-open]:checked~.register .button-open {
    visibility: hidden;
    transform: rotate(45deg);
}

input[id=switch-open]:checked~.register .button-close {
    visibility: visible;
    transform: rotate(45deg);
}

input[id=switch-close]:checked~.login {
    -webkit-animation: loginClose forwards 0.8s;
    animation: loginClose forwards 0.8s;
}

input[id=switch-close]:checked~.register {
    -webkit-animation: registerClose forwards 0.8s;
    animation: registerClose forwards 0.8s;
}

input[id=switch-close]:checked~.register>.inner {
    filter: blur(5px);
}

input[type=radio] {
    display: none;
}


